<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bottom-idle_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {43, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 58}</string>
			<key>spriteSourceSize</key>
			<string>{49, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{204, 0}, {49, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-idle_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {47, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 58}</string>
			<key>spriteSourceSize</key>
			<string>{49, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 368}, {49, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-idle_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 58}</string>
			<key>spriteSourceSize</key>
			<string>{49, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 368}, {49, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-idle_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {43, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 58}</string>
			<key>spriteSourceSize</key>
			<string>{49, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{165, 428}, {49, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-swim_001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {49, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 58}</string>
			<key>spriteSourceSize</key>
			<string>{53, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{55, 452}, {53, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-swim_002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 58}</string>
			<key>spriteSourceSize</key>
			<string>{53, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 368}, {53, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-swim_003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 58}</string>
			<key>spriteSourceSize</key>
			<string>{53, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 428}, {53, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom-swim_004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {37, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 58}</string>
			<key>spriteSourceSize</key>
			<string>{53, 58}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 452}, {53, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dash1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 82}</string>
			<key>spriteSourceSize</key>
			<string>{46, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 368}, {46, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dash2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {44, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{46, 82}</string>
			<key>spriteSourceSize</key>
			<string>{46, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 368}, {46, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0000_Frame-15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0001_Frame-14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0002_Frame-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0003_Frame-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0004_Frame-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{150, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0005_Frame-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{27, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0006_Frame-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0007_Frame-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0008_Frame-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0009_Frame-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{135, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0010_Frame-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0011_Frame-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{27, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0012_Frame-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0013_Frame-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{177, 0}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kelp_0000s_0014_Frame-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 182}</string>
			<key>spriteSourceSize</key>
			<string>{25, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 184}, {25, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>kelp_spritesheet</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>kelp_spritesheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>kelp_spritesheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>