<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>jelly_attack__000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 32}, {174, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{174, 230}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{557, 854}, {174, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 29}, {220, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{220, 222}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 0}, {220, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {264, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, 11}</string>
			<key>spriteSize</key>
			<string>{264, 224}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{922, 1716}, {264, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {294, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, 19}</string>
			<key>spriteSize</key>
			<string>{294, 230}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 443}, {294, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 20}, {304, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 22}</string>
			<key>spriteSize</key>
			<string>{304, 202}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1180, 856}, {304, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {302, 204}}</string>
			<key>spriteOffset</key>
			<string>{1, 31}</string>
			<key>spriteSize</key>
			<string>{302, 204}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1054, 1283}, {302, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {292, 174}}</string>
			<key>spriteOffset</key>
			<string>{-3, 31}</string>
			<key>spriteSize</key>
			<string>{292, 174}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 1313}, {292, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 22}, {258, 240}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{258, 240}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 1775}, {258, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_attack__008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 24}, {148, 262}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{148, 262}</string>
			<key>spriteSourceSize</key>
			<string>{306, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1532}, {148, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 122}, {248, 223}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{248, 223}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1188, 1715}, {248, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 120}, {266, 211}}</string>
			<key>spriteOffset</key>
			<string>{-8, 12}</string>
			<key>spriteSize</key>
			<string>{266, 211}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1272, 1489}, {266, 211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 121}, {278, 201}}</string>
			<key>spriteOffset</key>
			<string>{-9, 16}</string>
			<key>spriteSize</key>
			<string>{278, 201}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1755, 1565}, {278, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 121}, {280, 199}}</string>
			<key>spriteOffset</key>
			<string>{-9, 17}</string>
			<key>spriteSize</key>
			<string>{280, 199}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1767, 1364}, {280, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 118}, {270, 207}}</string>
			<key>spriteOffset</key>
			<string>{-7, 16}</string>
			<key>spriteSize</key>
			<string>{270, 207}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1534, 0}, {270, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 117}, {266, 213}}</string>
			<key>spriteOffset</key>
			<string>{-7, 14}</string>
			<key>spriteSize</key>
			<string>{266, 213}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1062, 223}, {266, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 117}, {262, 219}}</string>
			<key>spriteOffset</key>
			<string>{-8, 11}</string>
			<key>spriteSize</key>
			<string>{262, 219}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1270, 0}, {262, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 119}, {260, 219}}</string>
			<key>spriteOffset</key>
			<string>{-7, 9}</string>
			<key>spriteSize</key>
			<string>{260, 219}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{733, 841}, {260, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 119}, {258, 221}}</string>
			<key>spriteOffset</key>
			<string>{-8, 8}</string>
			<key>spriteSize</key>
			<string>{258, 221}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 443}, {258, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 119}, {258, 221}}</string>
			<key>spriteOffset</key>
			<string>{-8, 8}</string>
			<key>spriteSize</key>
			<string>{258, 221}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{829, 0}, {258, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 76}, {272, 275}}</string>
			<key>spriteOffset</key>
			<string>{-4, 24}</string>
			<key>spriteSize</key>
			<string>{272, 275}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1255}, {272, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 38}, {368, 387}}</string>
			<key>spriteOffset</key>
			<string>{23, 6}</string>
			<key>spriteSize</key>
			<string>{368, 387}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 866}, {368, 387}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 26}, {410, 421}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{410, 421}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 443}, {410, 421}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_die__013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {430, 441}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{430, 441}</string>
			<key>spriteSourceSize</key>
			<string>{462, 475}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {430, 441}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 18}, {174, 231}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 231}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{746, 1738}, {174, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 18}, {208, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{208, 219}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{878, 1062}, {208, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 18}, {240, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{240, 215}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 225}, {240, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 19}, {268, 211}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{268, 211}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1088, 1062}, {268, 211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 26}, {290, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{290, 199}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1486, 985}, {290, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 30}, {300, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{300, 191}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1438, 1702}, {300, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 29}, {304, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 16}</string>
			<key>spriteSize</key>
			<string>{304, 177}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 675}, {304, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {302, 173}}</string>
			<key>spriteOffset</key>
			<string>{1, 18}</string>
			<key>spriteSize</key>
			<string>{302, 173}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{718, 666}, {302, 173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 31}, {294, 157}}</string>
			<key>spriteOffset</key>
			<string>{-1, 24}</string>
			<key>spriteSize</key>
			<string>{294, 157}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 1344}, {294, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 33}, {294, 147}}</string>
			<key>spriteOffset</key>
			<string>{-3, 27}</string>
			<key>spriteSize</key>
			<string>{294, 147}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1022, 663}, {294, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 8}, {240, 257}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{240, 257}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{461, 1516}, {240, 257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_follow__011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 8}, {188, 259}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{188, 259}</string>
			<key>spriteSourceSize</key>
			<string>{304, 267}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 1255}, {188, 259}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_hurt__000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 24}, {249, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{249, 224}</string>
			<key>spriteSourceSize</key>
			<string>{311, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1021, 1489}, {249, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_hurt__001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {309, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{309, 260}</string>
			<key>spriteSourceSize</key>
			<string>{311, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 1532}, {309, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_hurt__002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 28}, {269, 192}}</string>
			<key>spriteOffset</key>
			<string>{3, 9}</string>
			<key>spriteSize</key>
			<string>{269, 192}</string>
			<key>spriteSourceSize</key>
			<string>{311, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1778, 1170}, {269, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_hurt__003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 23}, {267, 200}}</string>
			<key>spriteOffset</key>
			<string>{2, 10}</string>
			<key>spriteSize</key>
			<string>{267, 200}</string>
			<key>spriteSourceSize</key>
			<string>{311, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1740, 1768}, {267, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_hurt__004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 13}, {263, 242}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{263, 242}</string>
			<key>spriteSourceSize</key>
			<string>{311, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 1794}, {263, 242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 12}, {173, 223}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{173, 223}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 0}, {173, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 12}, {179, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{179, 221}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 440}, {179, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 13}, {179, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{179, 221}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1089, 0}, {179, 221}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {183, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{183, 219}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{995, 841}, {183, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 14}, {189, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{189, 217}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 224}, {189, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 15}, {195, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{195, 215}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{865, 223}, {195, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 16}, {201, 211}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{201, 211}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1149, 438}, {201, 211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 17}, {207, 209}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{207, 209}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1330, 221}, {207, 209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 18}, {213, 205}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{213, 205}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 1387}, {213, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 20}, {219, 203}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{219, 203}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1318, 651}, {219, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 21}, {225, 199}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{225, 199}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 1186}, {225, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 22}, {231, 197}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{231, 197}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1785, 971}, {231, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 23}, {235, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{235, 195}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1806, 195}, {235, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 24}, {239, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{239, 193}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1806, 0}, {239, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 24}, {243, 193}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{243, 193}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 790}, {243, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 24}, {245, 193}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{245, 193}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 595}, {245, 193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {245, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{245, 191}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1787, 778}, {245, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {247, 191}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{247, 191}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 209}, {247, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {247, 191}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{247, 191}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1789, 392}, {247, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {247, 191}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{247, 191}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 402}, {247, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {247, 191}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{247, 191}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1789, 585}, {247, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {253, 225}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{253, 225}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{623, 1086}, {253, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {219, 243}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{219, 243}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1796}, {219, 243}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 2}, {185, 239}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{185, 239}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 866}, {185, 239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 4}, {157, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 235}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 1107}, {157, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 6}, {149, 233}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{149, 233}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{703, 1503}, {149, 233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jelly_idle__026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 10}, {165, 225}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{165, 225}</string>
			<key>spriteSourceSize</key>
			<string>{255, 243}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 1489}, {165, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>enemy_jelly</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>enemy_jelly_ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>enemy_jelly_ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>