<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>crab_enemy_test.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {652, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{652, 340}</string>
			<key>spriteSourceSize</key>
			<string>{652, 340}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 0}, {652, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_point_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {191, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 230}</string>
			<key>spriteSourceSize</key>
			<string>{191, 230}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{958, 574}, {191, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_point_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 16}, {179, 208}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{191, 230}</string>
			<key>spriteSourceSize</key>
			<string>{191, 230}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{958, 342}, {191, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 47}, {302, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 1028}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 58}, {284, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1256, 0}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {354, 257}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1507, 343}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {340, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1612, 0}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {312, 245}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1115}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 11}, {296, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1458}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {328, 325}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1151, 686}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 40}, {276, 281}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{602, 685}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{78, 68}, {220, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1507, 686}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 89}, {180, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 1028}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 100}, {156, 157}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 772}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 110}, {140, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1151, 343}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>laser_start0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{123, 113}, {126, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{354, 341}</string>
			<key>spriteSourceSize</key>
			<string>{354, 341}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{602, 342}, {354, 341}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ray_enemy_test.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 770}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{600, 770}</string>
			<key>spriteSourceSize</key>
			<string>{600, 770}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {600, 770}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>enemy_laser_ss</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>enemy_laser_ss</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>enemy_laser_ss</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>